<a href="https://colab.research.google.com/github/DhruvAgg10/Python-projects/blob/main/pybasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HANDLE IMBALANCED DATASETS

In [ ]:
import pandas as pd
import numpy as np
dataset= pd.read_csv('/content/credit_data.csv')

In [ ]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
47623,43281,-0.696585,1.108944,1.413769,-0.127104,0.018555,-0.455078,0.587554,0.113729,-0.121544,...,-0.239606,-0.547457,0.045935,0.029361,-0.228841,0.108686,0.388269,0.173609,5.49,0.0
47624,43282,-0.282262,-1.212401,2.174897,-0.181501,-1.604027,-0.332694,-1.154018,0.223029,0.605392,...,-0.444623,-0.224011,0.728520,0.958983,-0.712869,0.908167,-0.054453,-0.107284,10.00,0.0
47625,43282,-1.513495,-0.206282,-0.702405,1.056423,1.058711,-0.708973,0.611571,0.249949,-0.844057,...,0.089904,0.723147,1.244035,-0.526450,-0.267320,-0.336504,0.398350,-0.017047,89.99,0.0
47626,43282,-0.659193,1.270953,0.946464,-0.370180,1.619207,-0.288297,1.588317,-0.492843,-0.829508,...,-0.060858,-0.028588,-0.704004,-0.971430,1.036058,-0.329102,-0.276970,-0.183521,0.99,0.0
47627,43282,1.121749,-0.208202,0.660816,0.857988,-0.823614,-0.422509,-0.286708,0.098616,0.541126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataset['Class'].value_counts()

Class
0.0    47481
1.0      146
Name: count, dtype: int64

In [ ]:
fraud= dataset[dataset.Class == 1]
legit= dataset[dataset.Class ==0 ]

In [ ]:
print(fraud.shape)
print(legit.shape)

(146, 31)
(47481, 31)

In [ ]:
legit_sample=legit.sample(146)
print(legit_sample.shape)

(146, 31)

In [ ]:
new_dataset= pd.concat([legit_sample,fraud],axis=0)

In [ ]:
new_dataset['Class'].value_counts()

Class
0.0    146
1.0    146
Name: count, dtype: int64

# Feature extraction

In [1]:
import numpy as np
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [5]:
dataset = pd.read_csv('/content/train.csv')

In [7]:
dataset.shape

(20800, 5)

In [8]:
dataset.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [9]:
dataset= dataset.fillna('')

create a new column which contain both author and title

In [10]:
dataset['content']= dataset['author']+''+dataset['title']

seperate feature and target

In [11]:
X= dataset.drop(columns='label',axis=1)
Y= dataset['label']

In [12]:
Y.shape

(20800,)

In [13]:
X.shape

(20800, 5)

stemming procedure- reduce word to keywords

In [14]:
port_stem=PorterStemmer()
def stemming(content):
  stemmed_content=re.sub('[^a-zA-Z]',' ',content)
  #will remove all punctuations'
  stemmed_content=stemmed_content.lower()
  #will convert text to lower case
  stemmed_content=stemmed_content.split()
  #will split words
  stemmed_content=[port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
  #will remove stop words
  stemmed_content=' '.join(stemmed_content)
  return stemmed_content

In [16]:
dataset['content']= dataset['content'].apply(stemming)
X=dataset['content'].values
Y=dataset['label'].values
## separating the data & label

In [18]:
print(Y)

[1 0 1 ... 0 1 1]

In [19]:
#CONVERT DATA TO FEATURE VECTOR
vectorizer= TfidfVectorizer()
vectorizer.fit(X)
X = vectorizer.transform(X)

In [20]:
print(X)

  (0, 572)	0.2694167078545384
  (0, 4187)	0.36253203231506576
  (0, 4975)	0.24725958235728157
  (0, 5930)	0.35488202138141456
  (0, 6233)	0.2839932825877812
  (0, 7961)	0.2313366174248873
  (0, 12695)	0.24619727512767192
  (0, 14460)	0.2917725968420029
  (0, 14920)	0.4300622675963931
  (0, 22568)	0.25523360180691607
  (0, 26171)	0.2808837940159642
  (1, 2602)	0.35911932371235855
  (1, 3260)	0.18800278047529806
  (1, 3838)	0.44601381123255807
  (1, 4739)	0.23523739119536424
  (1, 5877)	0.3206218375341294
  (1, 8704)	0.5300315426405939
  (1, 11235)	0.2434639969074374
  (1, 27744)	0.37204408227449065
  (2, 5089)	0.5511414848555652
  (2, 5204)	0.40440534260277944
  (2, 8499)	0.3411947414020896
  (2, 9384)	0.30743020569262086
  (2, 16256)	0.43295215406038445
  (2, 26066)	0.3665032495181434
  :	:
  (20797, 1236)	0.3077504076403579
  (20797, 2240)	0.3363554202191793
  (20797, 6048)	0.21289625603896975
  (20797, 11613)	0.29796600751883373
  (20797, 14015)	0.22800931704455404
  (20797, 16114)	0.3242703661541431
  (20797, 16211)	0.17875228080871305
  (20797, 17396)	0.08104362479383843
  (20797, 20353)	0.25042469546773877
  (20797, 20637)	0.2734270447609076
  (20797, 21934)	0.2494515865666979
  (20797, 25155)	0.3125002447493035
  (20797, 25609)	0.08234347981192172
  (20797, 28077)	0.08339827059844658
  (20798, 690)	0.2827933658592677
  (20798, 1070)	0.4638903157542853
  (20798, 1905)	0.43981843518920394
  (20798, 8032)	0.40266358130888547
  (20798, 11355)	0.3219420705942853
  (20798, 18637)	0.43981843518920394
  (20798, 21786)	0.2284042880065583
  (20799, 725)	0.5085743925573473
  (20799, 5979)	0.345590335823275
  (20799, 13241)	0.4138037375613909
  (20799, 24985)	0.6713314187498636